ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li.nav {
    float: left;
  }

  li a {
    text-align: center;
    padding: 14px 16px;
    display: block;
    color: white;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }