/*small indent*/
.authors,
.venue-wrapper {
    padding-left: 10px;
}

.venue {
    font-style: italic;
    display: inline;
}

.content-card {
    background-color: #e3d5ca;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.content-card:hover {
    background-color: #d6ccc2;
}

/*take up all the extra container space*/
.pub-ref {
    flex-grow: 1;
}

.pub-title {
    display: inline;
    font-variant-caps: small-caps;
}

.pub-date {
    display: inline;
    padding-left: 10px;
}