.post-card {
    background-color: lightgray;
    margin: 3px;
}

.post-card:hover {
    background-color: gray;
}

.post-title {}

.post-date {}


.pub-card {
    background-color: lightgray;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pub-card:hover {
    background-color: gray;
}

.pub-title {
    display: inline;
}

.pub-date {
    display: inline;
    padding-right: 10px;
}

.pub-authors {
    display: inline;
}

.pub-venue {
    font-style: italic;
}