/*
edede9
d6ccc2
f5ebe0
e3d5ca
d5bdaf
*/

body {
    background-color: #f5ebe0;
    font-family: "Gill Sans", sans-serif;
    color: black;
}

a:visited {
    color: black;
}

a:link {
    color: black;
}

/*scroll on narrow screens*/
.highlight {
    overflow-x: scroll;
}

.post-title {
    display: inline;
}

.post-date {
    display: inline;
}


.content-card {
    background-color: #e3d5ca;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.content-card:hover {
    background-color: #d6ccc2;
}

/*take up all the extra container space*/
.pub-ref {
    flex-grow: 1;
}

.pub-title {
    display: inline;
    font-variant-caps: small-caps;
}

.pub-date {
    display: inline;
    padding-left: 10px;
}

.no-decoration {
    text-decoration: none;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    justify-content: center;
}

.gallery img {
    width: 250px;
    height: auto;
    margin: 1em;
}

.body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body {
    /*it seems that flex column with align-items canter causes divs to overflow,
    so just set the max width to never be larger than 100% also.
    This may be some interaction with <pre> since pages without it work fine
    when max-width=750*/
    max-width: min(1000px, 100%);
}