/*
edede9
d6ccc2
f5ebe0
e3d5ca
d5bdaf
*/

body {
    background-color: #f5ebe0;
    font-family: "Gill Sans", sans-serif;
    color: black;
}

/* .highlight>pre {
    color: #f2e9e4;
} */

.post-card {
    background-color: #e3d5ca;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.post-card:hover {
    background-color: #d6ccc2;
}

.post-title {
    display: inline;
}

.post-date {
    display: inline;
}


.pub-card {
    background-color: #e3d5ca;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pub-card:hover {
    background-color: #d6ccc2;
}

/*take up all the extra container space*/
.pub-ref {
    flex-grow: 1;
}

.pub-title {
    display: inline;
    font-variant-caps: small-caps;
}

.pub-date {
    display: inline;
    padding-left: 10px;
}

.no-decoration {
    text-decoration: none;
}

/*small indent*/
.pub-authors,
.pub-venue-wrapper {
    padding-left: 10px;
}



.pub-venue {
    font-style: italic;
    display: inline;
}