.post-card {
    background-color: lightgray;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.post-card:hover {
    background-color: gray;
}


.post-card:hover {
    background-color: gray;
}

.post-title {
    display: inline;
}

.post-date {
    display: inline;
}


.pub-card {
    background-color: lightgray;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pub-card:hover {
    background-color: gray;
}

/*take up all the extra container space*/
.pub-ref {
    flex-grow: 1;
}

.pub-title {
    display: inline;
    font-variant-caps: small-caps;
}

.pub-date {
    display: inline;
    padding-left: 10px;
}

.no-decoration {
    text-decoration: none;
}

/*small indent*/
.pub-authors,
.pub-venue-wrapper {
    padding-left: 10px;
}



.pub-venue {
    font-style: italic;
    display: inline;
}