.column-container {
    display: flex;
    flex-wrap: wrap;
    /*center items on wrap*/
    justify-content: space-around;
    align-items: stretch;
}

/* tight bounding box on this container
*/
.lhs {
    /* border: 1px solid green; */
}

/* rhs grows to use any extra space */
.rhs {
    flex-grow: 1;
    /* border: 1px solid green; */
}

/*
use flex to center items
*/
.bio {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* resize image */
    img {
        height: auto;
        width: auto;
        max-width: 300px;
        max-height: 300px;
    }
}

@media screen and (max-width: 500px) {
    .bio {
        max-width: 100dvw;

        img {
            max-width: 150px;
            max-height: 150px;
        }
    }
}

.recent-container {
    /* display: flex;
    flex-wrap: wrap; */
}

.recent-block {}