.column-container {
    display: flex;
    flex-wrap: wrap;
    /*center items on wrap*/
    justify-content: space-around;
    align-items: stretch;
}

/* tight bounding box on this container
*/
.lhs {
    border: 1px solid green;
    margin-right: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.contact-container {
    padding-top: 20px;
}

.contact-icon {
    display: inline;
    margin: 10px;

    svg {
        width: 50px;
        height: auto;
        fill: #4a4e69;
    }
}

/* rhs grows to use any extra space */
.rhs {
    flex-grow: 1;
    /* border: 1px solid green; */
}

/*
use flex to center items
*/
.bio {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* resize image */
    img {
        height: auto;
        width: auto;
        max-width: 300px;
        max-height: 300px;
    }
}

.bio-text {
    text-align: justify;
}

@media (max-width: 500px) {
    .bio {
        max-width: 100dvw;

        img {
            max-width: 150px;
            max-height: 150px;
        }
    }

    /* remove spacing between columns */
    .lhs {
        margin-right: 0px;
    }
}

.recent-container {
    /* display: flex;
    flex-wrap: wrap; */
}

.recent-block {}