.column-container {
    column-count: 2;
}

/*remove a column*/
@media screen and (max-width: 1000px) {
    .column-container {
        column-count: 1;
    }
}


.lhs,
.rhs {
    break-inside: avoid;
}

.lhs {
    width: fit-content;
}

.bio {
    max-width: 300px;

    /* resize image */
    img {
        height: auto;
        width: auto;
        max-width: 300px;
        max-height: 300px;
    }
}

.recent-container {
    display: flex;
    flex-wrap: wrap;
}

.recent-block {}