.column-container {
    display: flex;
    flex-wrap: wrap;
    /*center items on wrap*/
    justify-content: space-around;
    align-items: stretch;
}

/* tight bounding box on this container
*/
.lhs {
    max-width: 400px;
    /* border: 1px solid green; */
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

/*safari seems to need it like this, not nested*/
.lhs img {
    width: 300px;
    height: auto;
    border-radius: 2em;
}

.contact-container {
    padding-top: 20px;
}

.contact-icon {
    display: inline;
    margin: 10px;

}

/*safari seems to need it like this, not nested*/
.contact-icon svg {
    width: 50px;
    height: auto;
}

/* rhs grows to use any extra space */
.rhs {
    flex-grow: 1;
}



.bio-text {
    text-align: justify;
}

@media (max-width: 30em) {

    /* remove spacing between columns */
    .lhs {
        max-width: 100dvw;
        margin-right: 0px;
    }

    /*safari seems to need it like this, not nested*/
    .lhs img {
        width: 150px;
        height: auto;
    }

    .contact-icon>svg {
        width: 2em;
        height: auto;
        fill: #4a4e69;
    }
}

.recent-container {
    /* display: flex;
    flex-wrap: wrap; */
}

.recent-block {}