.column-container {
    display: flex;
    flex-wrap: wrap;
    /*center items on wrap*/
    justify-content: space-around;
    align-items: stretch;
}

/* tight bounding box on this container
*/
.lhs {
    /* border: 1px solid green; */
}

/* rhs grows to use any extra space */
.rhs {
    flex-grow: 1;
    /* border: 1px solid green; */
}

/*
use flex to center items
*/
.bio {
    max-width: 30dvh;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* resize image */
    img {
        height: auto;
        width: auto;
        max-width: 30dvh;
        max-height: 30dvh;
    }
}



.recent-container {
    /* display: flex;
    flex-wrap: wrap; */
}

.recent-block {}