/*
edede9
d6ccc2
f5ebe0
e3d5ca
d5bdaf
*/

.navbar {
    hr {
        color: #d5bdaf;
    }
}

.nav-links {
    display: flex;
    /* same as scroll, but don't show scrollbar if no scrolling needed*/
    overflow-x: auto;
}

.nav-links a {
    padding: 15px;
    text-decoration: none;
    background-color: #e3d5ca;
    margin: 5px;

}

.nav-links a:hover {
    background-color: #d6ccc2;
}