/*
264653
2a9d8f
e9c46a
f4a261
e76f51
*/

.navbar {
    hr {
        color: #e9c46a;
    }
}

.nav-links {
    display: flex;
    overflow-x: scroll;
}

.nav-links a {
    color: #e9c46a;
    padding: 20px;
    text-decoration: none;

}