.body img {
    max-width: 30em;
    height: auto;
    display: block;
    margin: 1em auto;
}

@media (max-width: 30em) {
    .body img {
        width: 90dvw;
    }
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* same as scroll, but don't show scrollbar if no scrolling needed*/
    overflow-x: auto;
    justify-content: center;
}

.gallery img {
    width: 250px;
    height: auto;
    margin: 1em;
}