.body img {
    max-width: 30em;
    height: auto;
    display: block;
    margin: 1em auto;
}

@media (max-width: 30em) {
    .body img {
        width: 90dvw;
    }
}

.body .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* same as scroll, but don't show scrollbar if no scrolling needed*/
    overflow-x: auto;
    justify-content: center;
}

.body .gallery .item {
    width: 250px;
    margin: 1rem;
}

.body .gallery .item .image {
}

.body .gallery .item .image img {
    width: auto;
    max-width: 100%;
    max-height: 100%;
}

.body .gallery .item .caption {
    font-style: italic;
    text-align: center;
}



