.authors {
    padding-bottom: 1em;
}

.venue {
    display: inline;
    font-style: italic;
    padding-bottom: 1em;
}

.abstract {
    font-style: italic;
    padding-bottom: 1em;
}

.body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body {
    max-width: 750px;
}