.authors {
    padding-bottom: 1em;
}

.venue {
    display: inline;
    font-style: italic;
    padding-bottom: 1em;
}

.abstract {
    font-style: italic;
    padding-bottom: 1em;
}

.body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body {
    /*it seems that flex column with align-items canter causes divs to overflow,
    so just set the max width to never be larger than 100% also.
    This may be some interaction with <pre> since pages without it work fine
    when max-width=750*/
    max-width: min(750px, 100%);
}