.authors {
    padding-bottom: 1em;
}

.venue {
    display: inline;
    font-style: italic;
    margin-bottom: 1em;
}

.abstract {
    margin-top: 1em;
    margin-bottom: 1em;
}

.abstract-text {
    display: inline;
    font-style: italic;
}
