.abstract {
    margin-top: 1em;
    margin-bottom: 1em;
}

.abstract-text {
    display: inline;
    font-style: italic;
}

.slides {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slides-viewport {
    width: 100%;
    height: auto;
    aspect-ratio: 4/3;
}