<!doctype html>
<html lang="en-US">

<style>
    $style_frag
</style>

<head>
    $head_frag
</head>

<body>
    $nav_frag

    <div class="column-container">
        <div class="lhs">
            <h1> Carl Pearson </h1>
            <div class="bio">
                <div class="bio-img">
                    <img src="/static/img/avatar.jpg"></img>
                </div>
                <div class="bio-text">
                    <p>$bio_text</p>
                </div>
            </div>
            <div class="contact-container">
                <div class="contact-icon"><a href="mailto:cwpearson@sandia.gov">$email_svg</a></div>
                <div class="contact-icon"><a href="https://www.linkedin.com/in/cwpearson/">$linkedin_svg</a></div>
                <div class="contact-icon"><a href="https://www.github.com/cwpearson">$github_svg</a></div>
                <div class="contact-icon"><a
                        href="https://scholar.google.com/citations?user=K2nzqpYAAAAJ">$scholar_svg</a></div>
            </div>
        </div>

        <div class="rhs">
            <div class="recent-container">
                <div class="recent-block">
                    <h2>Recent Posts</h2>
                    $top_k_posts_frag
                </div>

                <div class="recent-block">
                    <h2>Recent Publications</h2>
                    $top_k_pubs_frag
                </div>
            </div>
        </div>
    </div>

    $footer_frag
</body>

</html>