<!doctype html>
<html lang="en-US">

<style>
$style_frag
</style>

<head>
$header_frag
</head>

<body>
$nav_frag

<h1> Carl Pearson </h1>

<h2> Recent Posts </h2>
$top_k_posts_frag

<h2> Recent Publications </h2>
$top_k_pubs_frag

$footer_frag
</body>

</html>