<!doctype html>
<html lang="en-US">

<style>
$style_frag
</style>

<head>
$head_frag
</head>

<body>
$nav_frag
<h1>$title</h1>
<div class="disclaimer">
Here are some interesting things I've read. Presented without comment or endorsement.
</div>
$body_frag
$footer_frag
</body>

</html>