<!doctype html>
<html lang="en-US">

<style>
    $style_frag
</style>

<head>
    $head_frag
</head>

<body>
    $nav_frag
    <h1>$title</h1>

    <div class="authors">
        $authors
    </div>
    $venue
    <div class="abstract">
        $abstract
    </div>
    <div class="body">
        $body_frag
    </div>
    $footer_frag
</body>

</html>