<!doctype html>
<html lang="en-US">

<style>
    $style_frag
</style>

<head>
    $head_frag
</head>

<body>
    $nav_frag
    <div class="body-container">
        <div class="body">
            <h1>$title</h1>

            <div class="authors">
                $authors
            </div>
            $venue
            <div class="date">
                $date
            </div>
            <div class="abstract">
                <span style="font-weight: bold;">Abstract: </span>
                <div class="abstract-text">
                $abstract
                </div>
            </div>
            $links_frag
            <div class="body">
                $body_frag
            </div>
            <div class="video">
                $video_frag
            </div>
            $tags_frag
        </div>
    </div>
    $footer_frag
</body>

</html>