<!doctype html>
<html lang="en-US">

<style>
    $style_frag
</style>

<head>
    $head_frag
</head>

<body>
    $nav_frag
    <div class="title-block">
        <h1>$title</h1>
        <a href="/tags">(all tags)</a>
    </div>
    $pubs_frag
    $posts_frag
    $talks_frag
    $projects_frag
    $footer_frag
</body>

</html>